In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
from datetime import datetime
#pd.set_printoptions(notebook_repr_html=False)

from pandas import *

import matplotlib as mpl

In [2]:
dates = pd.date_range('2012-07-16', '2012-07-21')
atemps = Series([101.5, 98, 95, 99, 100, 92], index = dates)

In [3]:
atemps

2012-07-16    101.5
2012-07-17     98.0
2012-07-18     95.0
2012-07-19     99.0
2012-07-20    100.0
2012-07-21     92.0
Freq: D, dtype: float64

In [4]:
# Created a series of temps with datetime objects as the indicies

In [5]:
idx = atemps.index[2]
atemps[idx]

95.0

In [6]:
sdtemps = Series([73, 78, 77, 78, 78, 77], index=dates)

In [7]:
temps = DataFrame({'Austin' : atemps, 'San Diego': sdtemps})

In [8]:
temps

            Austin  San Diego
2012-07-16   101.5         73
2012-07-17    98.0         78
2012-07-18    95.0         77
2012-07-19    99.0         78
2012-07-20   100.0         78
2012-07-21    92.0         77

In [10]:
temps['San Diego']

2012-07-16    73
2012-07-17    78
2012-07-18    77
2012-07-19    78
2012-07-20    78
2012-07-21    77
Freq: D, Name: San Diego, dtype: int64

In [11]:
temps['Diff'] = temps['Austin'] - temps['San Diego']

In [12]:
temps

            Austin  San Diego  Diff
2012-07-16   101.5         73  28.5
2012-07-17    98.0         78  20.0
2012-07-18    95.0         77  18.0
2012-07-19    99.0         78  21.0
2012-07-20   100.0         78  22.0
2012-07-21    92.0         77  15.0

In [13]:
del temps['Diff']
temps

            Austin  San Diego
2012-07-16   101.5         73
2012-07-17    98.0         78
2012-07-18    95.0         77
2012-07-19    99.0         78
2012-07-20   100.0         78
2012-07-21    92.0         77

In [14]:
# Stopped lecture at 34:37 https://www.youtube.com/watch?v=0unf-C-pBYE